datasources:
  datasources:
    prometheus:
      name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus:9090
      isDefault: true
    loki:
      name: Loki
      type: loki
      access: proxy
      url: http://loki:3100

persistence:
  enabled: true
  storageClassName: "openebs-hostpath"
  accessModes:
    - ReadWriteOnce
  size: 2Gi
