cluster:
  name: jdw
  namespace: monitoring

clusterMetrics:
  enabled: true

clusterEvents:
  enabled: true

podLogs:
  enabled: true

nodeLogs:
  enabled: true

destinations:
  - name: loki
    type: loki
    url: "http://loki:3100/loki/api/v1/push"
  - name: prometheus
    type: prometheus
    url: "http://prometheus:9090"